/*-- Global --*/

/*---- Body ----*/

body {
	--main-color: black;
	--secondary-color: #1F67E3;
	--main-bg-color: white;
	--main-font: 'Arial';
	font-family: var(--main-font);
	color: var(--main-color);
	background-color: var(--main-bg-color);
	font-size: 20px;
	margin: 0;
	padding: 0;
	min-height: 100%;
}

/*---- Header ----*/

header {
    padding: 1em;
    border-bottom: 1px solid black;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: white;
}

header img {
    width: 2em;
    height: 2em;
    margin-right: 10px;
}

header p {
    margin: 0;
    font-weight: bold;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

header nav li {
    display: inline;
}

header nav a {
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

header nav a {
    color: var(--main-color);
}
header nav a:hover {
    color: var(--secondary-color);
}

/*---- Main ----*/

main {
	padding-top: 100px;
	background-color: var(--main-bg-color);
}

h1, h2, h3 {text-align: center;}

img {
    border-radius: 5px;
}

.boxes {
	margin: 1em;
	text-align: center;
}

.box {
	margin: 2em;
	margin-bottom: 2em;
	padding: 1em;
	border-radius: 10px;
	background-color: #eee;
}
.box-image {width: 100%;}
.box-name {
	font-size: 1.2em;
	font-weight: bold;
	margin: 0.35em;
}
.box-description {
	height: 4em;
	font-size: 0.8em;
}
.box-button {
	margin: 0.5em 0;

}

.desc-page {
    width: 50%;
    text-align: center;
}

/*---- Footer ----*/

footer {
	background-color: black;
	color: white;
	font-size: initial;
	margin-top: 15px;
	padding: 50px 0;
	border-top: 2px solid;
}
footer > div:last-child {text-align: right;}

#footer-sep {height: 1em;}

footer a {
	text-decoration: none;
	color: #478bff;
}


/*-- Pages --*/

/*---- / ----*/

#slogan {
    text-align: center;
    margin: 1em;
}

#site-description {
    margin: 1em;
    text-align: center;
}

#discover h2 {
    margin-bottom: 0;
}

/* ---- Activities ---- */

.activity-text {
    flex-grow: 1;
    padding: 0 1em;
    text-align: center;
}

/* ---- Actu ---- */

.article {
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
    max-width: 800px;
    margin: auto;
}

.article:last-child {border: none;}

.article-header {
    gap: 20px;
}

.article-text {
    flex: 1;
}

.article-image img {
    width: 200px;
    height: auto;
    border-radius: 8px;
}

.article-body {
    margin-top: 15px;
    line-height: 1.6;
    text-align: justify;
}

.article h2 {
    margin: 0 0 5px;
}

.article .date {
    font-size: 0.9em;
    color: gray;
}

/*---- Responsive ----*/

@media screen and (min-width: 601px) {

    #main-img {width: 700px;}

    #site-description {
        width: 750px;
    }

	#discover article {width: 400px;}

    #activities img {height: 550px;}

    #activities article {
        display: flex;
    }

}



@media screen and (max-width: 600px) {

    #main-img {width: 80%;}

    #site-description {
        width: 80%;
    }

	#discover article {
        margin: 0.5em 0;
    }

    #discover .description {height: 5em;}

    #discover article p {
        margin: 0.25em 0;
    }

    .desc-page {width: 80%;}

    #activities article img {
        width: 100%;
    }

    .article {margin: 0 1em;}
    .article .date {font-size: 0.9rem;}
    .article-body {font-size: 1rem;}

}



/* Only for devices with pointer */
@media (hover: hover) {

	header nav a,
    button {transition-duration: 0.4s;}

}
